<% if logged_in? %>

<div class="row">
  <aside class="col-md-4">
    <%= render 'tasks_form', task: @task %>
  </aside>

  <div class="col-xs-8">
    <%= render 'tasks_desplay', tasks: @tasks %>
  </div>
</div>


<% else %>

  <%= render 'users/users_form', user: @user %>
  
  <%= link_to '新規登録',  'users/new' %>
<% end %>